Repository kookmin-sw/capstone-2025-29, pull requests merged in 2025-04, with the labels that each got.

#41 Feat: 봉사 매칭 연결
  backend/ongi_backend/build.gradle
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/config/RedisConfig.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/entity/Address.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/entity/VolunteerStatus.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/entity/VolunteerType.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/exception/ErrorCode.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/redis/dto/UnMatching.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/redis/repository/UnMatchingRepository.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/redis/service/UnMatchingService.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/user/Controller/ElderlyController.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/user/Controller/VolunteerController.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/user/Dto/ScheduleRequest.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/user/Repository/VolunteerRepository.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/user/Service/ElderlyService.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/user/Service/VolunteerService.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/user/entity/Volunteer.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/dto/RequestMatching.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/entity/VolunteerActivity.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/repository/VolunteerActivityRepository.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/service/VolunteerActivityService.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/weeklyAvailableTime/entity/WeeklyAvailableTime.java
  backend/ongi_backend/src/main/resources/application.yml
Labels: 💻 backend, ✨ feat, 🛠️ refactor

#27 STT 모델 로드 및 텍스트 변환
  AI/STT(Whisper)/whisper.ipynb
Labels: 💻 ai

#49 Feat/28
  .DS_Store
  AI/Dataset/STT_dataprocessing.ipynb
  AI/Dataset/metadata (1).txt
  AI/Dataset/데이터 전처리_test.ipynb
  AI/STT(Whisper)/whisper.ipynb
Labels: 💻 ai

#61 Feat: 예약된 알람 취소 기능 추가
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/aws/AwsSqsNotificationSender.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/user/Service/VolunteerService.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/repository/VolunteerActivityRepository.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/service/VolunteerActivityService.java
Labels: 💻 backend, ✨ feat

#68 Refactor : SQS Message 전달 방식 수정 - #47
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/aws/AwsSqsNotificationSender.java
Labels: 💻 backend, 🛠️ refactor

#85 Feat: review 관련 기능 구현
  backend/ongi_backend/build.gradle
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/aws/controller/AwsController.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/aws/dto/GetS3UrlDto.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/aws/service/AwsService.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/config/AwsS3Config.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/entity/BaseBuilderEntity.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/exception/ErrorCode.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/exception/JwtExceptionHandler.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/image/entity/Image.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/controller/ReviewController.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/dto/RequestResistReview.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/dto/ResponseDetailReview.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/dto/ResponseReview.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/entity/BaseReview.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/entity/ElderlyReview.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/entity/VolunteerReview.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/repository/ReviewRepository.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/service/ReviewService.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/user/Service/UserService.java
  backend/ongi_backend/src/main/resources/application.yml
Labels: 💻 backend, ✨ feat
