Repository kookmin-sw/capstone-2025-29, pull requests merged in 2025-03, with the labels that each got.

#17 Feat: 조회기능 구현
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/entity/Address.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/entity/AnimalType.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/entity/DistrictType.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/exception/ErrorCode.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/controller/VolunteerActivityController.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/dto/ResponseActivityDetail.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/dto/ResponseCompletedActivity.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/dto/ResponseMatching.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/dto/ResponseMatchingDetail.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/dto/ResponseRegisteredActivities.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/entity/VolunteerActivity.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/repository/VolunteerActivityRepository.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/service/VolunteerActivityService.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/weeklyAvailableTime/entity/WeeklyAvailableTime.java
  backend/ongi_backend/src/main/resources/application.yml
Labels: 💻 backend, ✨ feat

#35 Refactor : DB 수정
  backend/ongi_backend/src/main/java/com/example/ongi_backend/global/entity/VolunteerStatus.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/image/entity/Image.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/entity/BaseReview.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/review/entity/VolunteerReview.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/entity/VolunteerActivity.java
  backend/ongi_backend/src/main/java/com/example/ongi_backend/volunteerActivity/repository/VolunteerActivityRepository.java
Labels: 💻 backend, 🛠️ refactor

#38 Feat: 봉사자 main UI 구현
  public/alarm.svg
  public/check.svg
  public/clock.svg
  public/note.svg
  public/profileedit.svg
  src/App.jsx
  src/pages/VolunteerMain.module.css
  src/pages/VolunterMain.jsx
Labels: 💻 frontend, ✨ feat
